header{
    background-color:black;
    color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>img{
    height: 100px;
    padding: 10px   ;
}
nav{
    display: flex;
    gap: 15px;
}
a{
    text-decoration: none;
    color:aliceblue;
    font-size: 20px;
}